:root {
    --colorPrimario: #2ECC71;
    --colorSecundario: #3498DB;
    --colorBoton: #27AE60;
    --colorFondoSeccion: #F5F7FA;
    --colorBlanco: #FFFFFF;
    --colorNegro: #000000;

    --fuentePrincipal: "Poppins", sans-serif;
    --fuenteSecundaria: "Arial", sans-serif;
}


/* 🔹 RESET + BASE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: var(--colorBlanco);
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: var(--fuentePrincipal);
    color: var(--colorNegro);
    line-height: 1.5;
}

/* Contenedor global */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}